header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ==========CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ==========Socials ========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  z-index: 5;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ==========me(image) ========== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  /* or
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;

}

/* ==========scroll down========== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  header {
    height: 110vh;
  }
  .header__socials {
    left:5%;
  }
  .scroll__down{
    right: 0%;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 401px) and (max-width: 429px) {
  header {
    height: 80vh;
  }
  .header__socials {
    left:8%;
  }
  .scroll__down{
    right: 0%;
  }
}
@media only screen and (min-width: 430px) and (max-width: 500px) {
  header {
    height: 80vh;
  }
  .header__socials {
    left:10%;
  }
  .scroll__down{
    right: 0%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  header {
    height: 100vh;
  }
  .header__container{
    height: 100%;
  }
  .header__socials {
    left:5%;
  }
  .scroll__down{
    right: 0%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 800px) {
  header {
    height: 100vh;
  }
  .header__container{
    height: 80%;
  }
  .header__socials {
    left:5%;
  }
  .scroll__down{
    right: 0%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) and (max-width: 992px) {
  header {
    height: 70vh;
  }
  .header__container{
    height: 90%;
  }
  .header__socials {
    left:5%;
  }
  .scroll__down{
    right: 0%;
  }
}

/* ======media queries for laptops (large devices) =========*/

@media screen and (min-width: 993px) and (max-width: 1200px) {
  header {
    height: 70vh; /* Example height for laptops */
  }
  .header__container{
    height: 90%;
  }
  .header__socials {
    left:6%;
  }
  .scroll__down{
    right: 5%;
  }
  /* Add more styles specific to laptops here */
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  header {
    height: 120vh; /* Example height for laptops */
  }
  .header__container{
    height: 90%;
  }
  .header__socials {
    left:5%;
  }
  .scroll__down{
    right: 5%;
  }
 
}


/* ======media queries for desktops (extra-large devices) =========*/

@media screen and (min-width: 1440px) {
  header {
    height: 120vh; /* Example height for laptops */
  }
  .header__container{
    height: 100%;
  }
  .header__socials {
    left:5%;
  }
  .scroll__down{
    right: 5%;
  }

}
